Web References/aloneservice/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Grabar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cadena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GrabarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarEmails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listacorreos2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sitio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Empresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GrabarEmailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GrabarEmailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlDoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correoreply" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correoprueba" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sitio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GrabarSoapIn">
    <wsdl:part name="parameters" element="tns:Grabar" />
  </wsdl:message>
  <wsdl:message name="GrabarSoapOut">
    <wsdl:part name="parameters" element="tns:GrabarResponse" />
  </wsdl:message>
  <wsdl:message name="GrabarEmailsSoapIn">
    <wsdl:part name="parameters" element="tns:GrabarEmails" />
  </wsdl:message>
  <wsdl:message name="GrabarEmailsSoapOut">
    <wsdl:part name="parameters" element="tns:GrabarEmailsResponse" />
  </wsdl:message>
  <wsdl:message name="ConXMLSoapIn">
    <wsdl:part name="parameters" element="tns:ConXML" />
  </wsdl:message>
  <wsdl:message name="ConXMLSoapOut">
    <wsdl:part name="parameters" element="tns:ConXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Grabar">
      <wsdl:input message="tns:GrabarSoapIn" />
      <wsdl:output message="tns:GrabarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GrabarEmails">
      <wsdl:input message="tns:GrabarEmailsSoapIn" />
      <wsdl:output message="tns:GrabarEmailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConXML">
      <wsdl:input message="tns:ConXMLSoapIn" />
      <wsdl:output message="tns:ConXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Grabar">
      <soap:operation soapAction="http://tempuri.org/Grabar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarEmails">
      <soap:operation soapAction="http://tempuri.org/GrabarEmails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConXML">
      <soap:operation soapAction="http://tempuri.org/ConXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Grabar">
      <soap12:operation soapAction="http://tempuri.org/Grabar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrabarEmails">
      <soap12:operation soapAction="http://tempuri.org/GrabarEmails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConXML">
      <soap12:operation soapAction="http://tempuri.org/ConXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:16322/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:16322/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>